.masterhead{
  padding: 1em;
  background: url("../image/background.jpg") no-repeat center ;
  background-size: cover;
}

.masterhead-countries{
  padding: 1em;
  background: url("../image/background2.jpg") no-repeat center ;
  background-size: cover;
}


