<nav>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %} current {% endif %} "> 처음으로 </a></li>
    <li><a href="{{site.baseurl}}/think/" class="{% if page.url contains 'think' or  page.url contains 'read' %} current {% endif %} ">철학</a></li>
    <li><a href="{{site.baseurl}}/companies/" class="{% if page.url contains 'companies' %} current {% endif %} ">투자</a></li>
  </ul>
</nav>


<!-- 왜  == '/index.html' 로 하면 하이라이트가 안 되지?  -->


