header{
  margin-left: 100 px;
  padding: 50 px;
  color: black;
}


footer {
  color: gray;
  font-size: 30 px ;
  padding: 50 px; 
/*  안먹음 왜 안먹는지 모르겠음. */
  margin-left: 100 px;
  background-color: #dee9f1;
}
